

.blogCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    min-width: 90ch;
    border: .1rem solid #1DA1F2;
    border-radius: .7rem .7rem .2rem .2rem;
}

.blogCard .blogTitle {
    font-size: xx-large;
    background-color: #1DA1F2;
    color: aliceblue;
    border-radius: .7rem .7rem .1rem .1rem;
}

.blogCard .content {
    margin: 0;
    flex-grow: 1;
    padding: 1rem;
}

.blogCard .blogFooter {
    border-radius: .1rem .1rem .2rem .2rem;
    background-color: #1da0f26e;
}

.blogFooter p {
    margin: 0px;
    padding: 1rem;
    color: aliceblue;
    font-size: larger;
}
