

.home-container {
    min-height: 80%;
    align-content: center;
}

/* menu base styles */
.home-container h1 {
    padding: 1rem;
    font-size: 3rem;
    color: #1DA1F2;
}

.home-container p {
    padding: 1rem;
    font-size: 2rem;
    max-width: 30ch;
    color: #657786;
}

/* flex styles */
@media screen and (min-width: 768px) {
    .home-container {
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }
}