

/* menu base styles */
.nav-container {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border-radius: 4px;
    align-self: center;
}

.nav-container .nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-container a {
    text-decoration: none;
    color: #657786;
    display: block;
    padding: 1em;
    font-size: large;
    font-weight: bold;
}

.nav-container a:hover {
    color: black;
}

.nav-container a.active {
    color: black;
    font-weight: bolder;
}

/* flex styles */
@media screen and (min-width: 768px) {
    .nav-container .nav-list {
        display: flex;
        justify-content: center;
    }
}